.search-box {
    -webkit-appearance: none;
    border: 2px solid grey;
    margin: 0 auto;
    outline: none;
    padding: 18px 18px;
    width: 300px;
    font-size: 1.5rem;
    border-radius: 10px;
    line-height: 30px;
    font-family: 'PT Sans', cursive;
}

.search-box::placeholder {
    color: #7e7e7e;
}

.search-box-container {
    margin: 30px;
}

@media (max-width: 600px) {
    .search-box {
        width: 100%;
    }
}