.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #09d3ac;
}

.App > h1 {
  color: grey;
  font-family: 'Yeon Sung', cursive;
  font-size: 3.5rem;
}

.footer {
  margin: 30px auto;
  font-family: monospace;
  font-size: 1.2rem;
}

.footer a {
  text-decoration: none;
  color: black;
}

.underline:hover {
  border-bottom: 2px dotted;
  cursor: pointer;
}

@media (max-width: 1000px) {
  .App > h1 {
    font-size: 3rem;
  }
}